/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background-image: image-url("IbizaParty.jpg");
  background-size: cover;
  // background: linear-gradient(purple, white);
  //  background: radial-gradient(circle, purple, white);
}

h1, p {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: white !important;
}

p {
  font-size: 25px  !important;
}

.navbar-brand {
    color: purple !important;
}

ul, li {
  color: purple !important;
}


.btn {
  background-color: purple;
}

#centerbuttons {
  width:250px;
  margin:0 auto;
}

.jumbotron {
    background-color: rgba(128,0,128, 0.5);
}

// .style_image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   margin: auto;
//   min-width: 50%;
//   min-height: 50%;
// }
//
// .image {
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   width: 200%;
//   height: 200%;
// }
