<div class="jumbotron">
  <h1>Welcome to PartyTime!</h1>
  <p>Planning a party? Make sure you don't forget anything and make a list of everything you need ;)</p>
  <div id="centerbuttons">
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
